
<%= render 'welcome/header' %> <br><br><br><br><br>

<%= %>
<%= @bank_name.name %>
<%= @client_detail.bank_branch %>
<%= @gen_avail.genID%>
<%= @gen_set.genRent %>
<%= @gen_set.serviceTax%>
<div class="container">
<h2 class="table-heading">Monthly Report</h2><br>
</div>
