<%= form_for(@email_address) do |f| %>
  <% if @email_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_address.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% @email_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Account Name" %><br>
    <% if @email_address.name.blank? %>
      <%= f.text_field :name %>
    <% else %>
		<%= f.text_field :name, :value => @email_address.name %>
    <% end %>
    <%= f.label :address, "Email Address" %><br>
	<% if @email_address.address.blank? %>
      <%= f.text_field :address %>
    <% else %>
                <%= f.text_field :address, :value => @email_address.address %>
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
